@import 'bootstrap';
@import 'select2/dist/css/select2';

.field_with_errors {
	.form-control {
	border-color: $red;
	}
	label {
	color: $red;
	}
}

.day_price {
	display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.quantity, .number_of_servings, .select_date {
  width: 10%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.order_items {
  margin: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  background: image-url('background_body.jpg');
}